extends include/_base

block title
  meta(name="description", content="Just my Blog")
  meta(name="keywords", content="Blog, programming, mathematics, computer science, python, javascript, STAR, NRPS, laptop, pc, django, node js, math, desktop, js, blog host, host your website, how can i host my website")
  title Deshmukh Blog

block append body
  div.container
    h1 Blog
    h2 Me

    div.github-card(data-github="abhishek-deshmukh", data-width="400", data-height="155", data-theme="default")
    br

    link(href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet')
    a.bmc-button(target='_blank' href='https://www.buymeacoffee.com/dunce07')
      img(src='https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg' alt='Buy me a coffee')
      span(style='margin-left:5px;font-size:28px !important;') Buy me a coffee


    h2 Just my blog
    div.row
      div.col-sm-12.col-md-9

        a(href="./post/12-faq-for-niser-newbies.html")
          div.post-card
            span.post-heading F.A.Q for NISER newbies
            br
            span.post-text
              | Welcome to the NISER family, moving from +2 to University can
              | be stressfull here is a guide to help you get started

        a(href="./post/10-citation-cartel-an-unsuccessful-ambush.html")
          div.post-card
            span.post-heading Citation Cartel - An unsuccessful ambush
            br
            span.post-text
              |Self-citation is the unethical craft of citing papers written
              |by the authors themselves, for a false increase in citation

        a(href="./post/8-changing-your-ip-address.html")
          div.post-card
            span.post-heading Changing you IP address
            br
            span.post-text
              |IP address is short for Internet Protocol address. It's an
              |identifying number for network hardware connected to a network.

        a(href="./post/7-when-jam-stack-isnt-enough.html")
          div.post-card
            span.post-heading When JAM Stack isn't enough
            br
            span.post-text
              |In the recent years JAM stack has really been going around with
              |lots of themes and extensions, and math and what not. Lets see
              |what JAM stack is all about.

        a(href="./post/6-a-gui-for-nginx.html")
          div.post-card
            span.post-heading GUI for Nginx
            br
            span.post-text
              |Nginx can be hassel with all you wanna do
              |is host your site, or simply use it as a reverse-proxy,
              |Here is an application to make the job simple.

        a(href="./post/5-converting-imaginary-integrals-into-real-ones.html")
          div.post-card
            span.post-heading
              |Converting imaginary Integrals into real ones
            br
            span.post-text It's what it says

        a(href="./post/4-test-driven-development-and-schools.html")
          div.post-card
            span.post-heading Test Driven development and school
            br
            span.post-text
              |it basically means that you decide on a purpose of what
              |your program is supposed to do, then you write a
              |script/program which...

        a(href="./post/3-how-to-get-a-discord-bot.html")
          div.post-card
            span.post-heading How to get a discord bot
            br
            span.post-text
              |To get into the developer portal open up you favourite.
              |browser and go to...

        a(href="./post/2-turning-your-application-into-a-web-app-with-star.html")
          div.post-card
            span.post-heading
              |Turning your application into a web app with STAR
            br
            span.post-text
              | There are often times that you write script that needs
              | to be deployed a website or a web app, doing this can
              | be difficult so...

        a(href="./post/1-test-post.html")
          div.post-card
            span.post-heading Test Post Heading
            br
            span.post-text
              |Post content a lot of it meaning a lot of content, Just
              |kidding this will just have the first few words or
              |something of the post.

  footer
    |Made with love by
    a(href="https://deshmukh.ml") Abhishek Anil Deshmukh
