extends include/_post_base

block title
  title Quick Responsive Navbars in Vue

block append head
  meta(name="description", content="Navbars are an essential part of any website, it is the table of contents for your webapp, if your navbar isn't usable, chances are people won't be using your website")
  meta(name="keywords", content="navbar, navigation bar, vue")

block heading
  |Quick Responsive Navbars in Vue
block date
  |10 Oct, 2020

block append body
  p Navbars are an essential part of any website, it's the table of contents
  | for your webapp, if your navbar isn't usable, chances are people won't be
  | using your website.

  p By navbar I mean the Navigation Bar, the thing which is generally on top
  | of a website.

  p If you need a quick answer, Just use
