extends include/_post_base.pug
block title
  title F.A.Q for NISER newbies

block append head
  meta(name="description", content="Welcome to the NISER family, moving from +2 to University can be stressfull here is a guild to help you get started")
  meta(name="keywords", content="NISER, university, Fresher, new, starting, Motivation")

block heading
  |F.A.Q for NISER newbies
block date
  |11 Nov, 2020

block append body
  p
    |Hello fellas, this post a non-exhaustive list of Frequently asked by new
    |students who join NISER. Most of the things here will apply in nearly all
    | Universities, but I wouldnt bet on it.

  h2 How many hours will we have to study?
  p
    | You don't.
