extends include/_post_base.pug
block title
  title F.A.Q for NISER newbies

block append head
  meta(name="description", content="Welcome to the NISER family, moving from +2 to University can be stressfull here is a guide to help you get started")
  meta(name="keywords", content="NISER, university, Fresher, new, starting, Motivation")

block heading
  |F.A.Q for NISER newbies
block date
  |11 Nov, 2020

block append body
  p
    |Hello fellas, this post a non-exhaustive list of Frequently asked by new
    |students who join NISER. Most of the things here will apply in nearly all
    | Universities, but I wouldnt bet on it.

  h2 Where is the shopping complex?
  p Google it.
  p Yes the campus is damn huge (you'll get used to it). Google maps has it.

  h2 How do I operate the washing machine?
  p
    | Look for it on youtube it. Or contact the nearest senior (you will be
    | surprised to see how usefull they actually are).

  h2 How does the canteen system in NISER work?
  p
    | The canteen system in NISER is very similar to a restaurant's. You look
    | through the menu for the meal, you pay at the counter get a coupon, then
    | go the other counter, give them the coupon and they give you food.
  p
    | I might have skipped some steps but you will get them we you see it.
  p
    | As you might have already guessed you cannot pay ahead of time.

  h2 Which hostel to prefer for breakfast, lunch,snacks and dinner?
  p
    | It depends on personal preference, all the 4 canteens (not sure if all
    | are under operation right now) cater to different tastes. You can see
    | the menu at
    |
    a(target="_blank", href="https://www.niser.ac.in/~smishra/canteen-menu/")
      | https://www.niser.ac.in/~smishra/canteen-menu/
    |
    | It is updated everyday so check it out before going for a meal.

  h2 Whether to participate in extra curricular activities or not?
  p
    | Obviously, 1st year will be the most preferable batch to do all these.
    | You haven't any specific subject as major, so don't worry about that.
    | After all, from 2nd year onwards you have to be responsible towards your
    | juniors. So why not experience all these in 1st year itself!

  h2 How is life at NISER?
  p
    | Never ask about life at NISER to anyone just experience it yourself if
    | you feel you are in right direction continue, if not then no need to
    | suffer just choose whatever you really wanna do.

  h2 What are the clubs at NISER?
  p
    | There is a considerable number ofr clubs in NISER, everything from,
    | photography to basketball to literature to science (Ofcourse!!).
  p
    | You will be approached by clubs once the club member's are back on
    | campus, if you wanna the list of clubs, there is gonna be a student
    | Affair's website soon, which will contain the information about all
    | the clubs and contact information as well.

  h2 What are the on-campus facilities?
  p
    | From what I can tell you should already know about these, but here they
    | are
    ul
      li Health Centre
      li Pharmacy (which provides on prescription from health Centre)
      li Grocery/convenience store, shopping complex
      li Main Library
      li Department libraries (you don't have access to these till you join one)
      li Computer center (There's enough machines for everyone)
      li Gym (We got an upgrade last year, it has some good stuff)
      li Meditation Center (MC, hill top)
  h2 Can my parent's temporarily stay on campus if they want to?
  p
    | Currently the Guest house facilities are closed due to the pandemic
    | situation, but soon enough when things clear up (hopefully) the
    | facilities will be resumed.
  p
    | Under normal circumstances, the guest houses need to be booked, atleast
    | one week before hand, they contain a relatively acceptable fee.

  h2 What are the professors like?
  p
    | Depends on who you ask. All the professors are extremely well versed in
    | their own research fields and are excellent scientists. As professors,
    | you may find some extremely delightful and some not so. If this question
    | is asked on the basis of rumors in sites like Quora, I'd suggest you
    | ignore rumors spread by anonymous people and judge from your own
    | experience. :)

  h2
    | Who do I contact in case of any emergency which might require help of
    | college authority?
  p
    | In case you have an emergency which can only be solved by some college
    | authority, the first person to contact is the Dean of Student Affairs
    | (DoSA). Presently the DoSA is Dr. Renjith Mathew. The best way to
    | contact is by mailing (best done after you've received your NISER mail
    | id). But remember that he is also a busy person, so do not contact him
    | unless necessary.
  h2 Ragging....?
  p
    | We don't allow ragging in or outside the campus. All the seniors are
    | extremely helpful and different people are good at different things. We
    | have also received a lot of help from our own seniors, and to be honest,
    | they feel more like family. However, we have an Anti-Ragging Squad
    | (check NISER website) for any matters related to ragging (if any).
  h2 How will studying at NISER help in future?
  ol
    li
      | Better understanding of concepts and preliminary ideas of conducting
      | any research
    li
      | It adds extra bonus to selection in any competitive exams like UPSC
    li Adds Chances of getting Ph.D outside india

  h2 Some "Suggestions" from your seniors.
  NOTE: These were anonymously sent by NISER students.
  ul
    li Use SciHub, LibGen, GitHub - best decisions
    li Feel free to hit up any senior you know if you have any problems
    li
      | 1. Don't pee in the pool (there is no pool).
      | 2. If you pee in the pool, your toilet privileges will be revoked (friend's suggestion, not mine).
      | 3. Fun Tasks -
      |    a)Find where the aquatic complex is.
      |    b)Sing the aquatic complex.
      | 4. Shid, fard, poo even
      | 7. Eighty eight hh
    li College life is fun but also challenging in other ways. Don't lose sight of who you are and what you want to be in life. Put in your best effort, but not at the cost of your health and well-being. Enjoy yourself and take every opportunity to grow that you can.
    li Every department is the best for youniff you have interest for that subject. The "so-called" best dept you will hear from most, would be harsh for you if you don't have interest in that subject.
    li There are endless things to do and explore at NISER but your studies and your attendance should be the first priority after that you can do whatever you wanna do. From photography to cricket, from singing to robotics, from gym to hanging out everything..............
    li Best place in whole NISER , without any doubt, is Meditation Center (aka MC) . It's the place on the hill (actually I didn't know it was called MC).
    li When you join NISER, profs knows that a bunch of students are weak in maths or say any subject and they do teach from the base. all you have to do is try to study what is taught on the same day and ask for help. Asking for help is important. You may ask batchmates, profs, TAs, or even seniors. every individual in cg is always welcoming and feels good about helping others.
    li Remember that we are a small community of people and we are like a close family. The seniors here are helpful and one doesn't need to fear ragging.
    li Finish everything as it comes. Don't pile stuff up
    li I want to tell them that ITS NOT COMPULSORY TO DO AN INTERNSHIP IN THE FIRST YEAR, infact it's a waste of time. Tell them about libgen(ahem ahem). There are pretty cool facilities in niser that people don't use to the full extent like the robotics lab, physics' sac room, funds that we can can get to perform our own experiments, etc. But MOST IMPORTANTLY student offers for niser (and all students in general)- autodesk 3yr license, GitHub pro and associated offers, flight discounts, prime discount, etc.
    li I NEED SUGGESTIONs TOO 🙂
