extends include/_non_profit_post_base.pug
block title
  title F.A.Q for new NISERites

block append head
  meta(name="description", content="Welcome to the NISER family, moving from +2 to University can be stressfull here is a guide to help you get started")
  meta(name="keywords", content="NISER, university, Fresher, new, starting, Motivation")

block heading
  |F.A.Q for new NISERites
block date
  |25 Nov, 2020

block append body
  p
    | Hello students, welcome to NISER. I have tried to collect and curate some questions our current students had when they arrived on campus. I hope this helps.
  p
    | This is NOT the official correspondence. You will be contacted by our student representatives soon enough.
  h2#-how-does-the-canteen-system-in-niser-work-
    strong How does the canteen system in NISER work?
  p
    | The canteen system in NISER is not like the common mess you might expect. You look through the menu for things you wanna eat, you pay at the counter for a coupon, then go to the next counter, and exchange the coupon for food.
  p You can pay in cash, or by scanning a QR code.
  p
    | The menu is updated regularly here:
    a(href='https://www.niser.ac.in/~smishra/canteen-menu/') https://www.niser.ac.in/~smishra/canteen-menu/
  h2#-where-is-the-shopping-complex-
    strong Where is the shopping complex?
  p
    | We have a shopping complex with a bakery, grocery store, and a few food, fruit stalls. It is adjacent to the Health centre. After you walk past the 4 schools, if you take a right and walk to the end of the road, you will see it to your left.
  h2#-what-are-the-extracurricular-activities-on-campus-
    strong What are the extracurricular activities on campus?
  p
    | There are numerous clubs that encourage and participate in different arts and activities. Some of them being, drama, music, dance, art, social service, chess, etc. You will be introduced to them by student representatives and the club heads, who look forward to your participation. You can be part of as many clubs of your choice, no cap. Sports are especially encouraged and it is always heartening to see our teams competing in the IISM (Inter IISER Sports Meet). First-year is the best time to explore hobbies and interests since the course load is a little lighter compared to when you are a senior.
  p
    strong How do I choose my subject?
  p
    | In your first year, you will be taught all subjects, theory and practical. This will give you a chance to decide what major you want to pursue second year onwards. You will have to make a choice at the end of the first year and you will be assigned to a school accordingly.
  p
    strong How are the labs at NISER?
  p
    | The practical experience you get at NISER as an undergrad is unparalleled. You can see for yourself in your first year teaching labs.
  p
    strong Is there any ragging on campus?
  p
    | No. It is simply that. We have a strong anti-ragging culture and stringent policies in place, enforced by the Anti-Ragging cell. Seniors and juniors share camaraderie and experiences, making college life less stressful.
  p
    strong Is the coursework tough?
  p
    | It is not the easiest. Some courses are tougher than the others, but they also tend to be the better courses. It is a well thought out curriculum. It demands attention, but it can be done with a little guidance from seniors, batchmates, tutors, and getting the gist in the class. The most important thing to remember is to communicate with the instructor. The course structure and the marks depend on them completely and they are usually sympathetic to genuine concerns.
  h2#-can-my-parents-temporarily-stay-on-campus-if-they-want-to-
    strong Can my parents temporarily stay on campus if they want to?
  p
    | Currently, the Guesthouse facilities are closed due to the pandemic, but when things clear up, they will be resumed.
  p
    | Under normal circumstances, the guest houses need to be booked, at least one week before accommodation, and they charge per day. You can find a form for the same on the
    a(href='https://www.niser.ac.in') official website
    | .
  h2#-who-do-i-contact-in-case-of-any-emergency-
    strong Who do I contact in case of any emergency?
  p
    | In case you have an emergency that can only be solved by some college authority, the first person to contact is the Dean of Student Affairs (DoSA). Presently (2020) the DoSA is Dr. Renjith Mathew. The best way to contact is by mailing (best done after you&apos;ve received your NISER mail id). You can also contact the wardens, and the students&rsquo; gymkhana, who I believe you have already met in the interaction sessions.
  h2#-how-do-i-get-to-the-city-
    strong How do I get to the city?
  p
    | We have an efficient bus service that runs to and from the campus to the heart of the city, multiple trips every day without fail. The schedule is available on the official website for your reference.
  h2#-what-are-internships-and-how-do-i-get-one-
    strong What are internships and how do I get one?
  p
    | Internships are a learning experience wherein you work in a lab, under a guide, and learn how research is done. How can you get one? Send a mail to the professor you want to work under. Be in NISER or outside. It might take a few (more than a few tries) but you will get there. There are also some internship programs that you can apply to, like the NIUS.
  h2#-how-can-i-take-care-of-my-mental-health-
    strong How can I take care of my mental health?
  p
    | Our institute has recently partnered with YourDost to make counseling accessible. You can find and book an appointment with a counselor after making your account with your institute email id. We also have a counseling cell of the institute who can assist you regarding any matters relating to the college.
  h2#-what-is-the-gpa-system-
    strong What is the GPA system?
  p
    | Every course has a specific number of credits assigned to it, which decides its weightage. The grade you get in the course corresponds to a number between 4-10 which is then multiplied by the credit of the course. Then the sum of these is divided by the total number of credits of a semester, usually 24.
  h2#-what-are-the-on-campus-facilities-
    strong What are the on-campus facilities?
  p
    | From what I can tell you should already know about these, but here they are (not sure about exhaustiveness)
  ul
    li Health Centre
    li Pharmacy (which provides on prescription from health Centre)
    li Grocery/convenience store, shopping complex
    li Main Library
    li Department libraries (you don&apos;t have access to these till you join one)
    li Computer center (There are enough machines for everyone)
    li Gym (We got an upgrade last year, it has some good equipment)
    li Meditation Center (MC, hilltop)
  h2#-how-will-studying-at-niser-help-
    strong How will studying at NISER help?
  ol
    li Unparalleled practical experience with advanced equipment and lab technology.
    li NISER boasts of State of the Art infrastructure.
    li You receive a scholarship from the DST, Govt of India.
    li Your master&apos;s thesis prepares you for your PhD, in India or abroad.
    li
      | If your GPA is good after 5 years, you can skip the written exam and go straight to the interview for BARC.
    li
      | You have a chance to be exposed to a diverse alumni network, who are working in various fields to take advice from.
  h2#-some-friendly-suggestions-from-your-seniors-
    strong Some friendly suggestions from your seniors.
  p were anonymously sent by NISER students.
  ul
    li SciHub, LibGen, GitHub - you will find any book, literature you need for free.
    li
      | Feel free to reach out to any senior you want to, without any hesitation. We are always available through email.
    li Email is the best way to contact anyone you need to in NISER.
    li
      | College life is fun but also challenging. Don&rsquo;t hesitate to ask for help. Don&apos;t lose sight of who you are and what you want to be in life. Put in your best effort, but not at the cost of your health and well-being. Enjoy yourself and take every opportunity to grow that you can.
    li Take breaks. Roam the campus, enjoy the walk. (Beware of snakes though)
    li Any department is the best for you if you have an interest in that subject.
    li
      | The best place in NISER, without any doubt, is the Meditation Center (aka MC). It&apos;s the place on top of the hill. You can watch all of Jatni from there.
    li
      | In your first year, you might face some difficulty in math or biology, depending on your background. Don&rsquo;t worry. Profs realize this too. All you have to do is try to study what is taught on the same day and ask for help. Asking for help is important. You may ask batchmates, profs, TAs, or even seniors.
    li
      | Now that winter is about here, you can ask the watchman to start the water heater, please don&apos;t feel shy and fall sick.
    li Try to learn the Odia number system, it&apos;s helpful.
    li Do not reserve autos, go in the general one. They WILL try and swindle you.
