extends include/_post_base.pug
block title
  title How to get a Discord Bot

block append head
  meta(name="description", content="Discord bot")
  meta(name="keywords", content="Blog, programming, python , discord, bot, AI, phone")

block heading
  |How to get a discord bot
block date
  |10 May, 2020
block body
  p
  |If want a discord bot I'm assuming you already have a discord
  |account and if you don't get one its free and easy.

  h2 The developer portal
  p
    | To get into the developer portal open up you favourite. browser and
    | go to
    a(href='https://discord.com/') https://discord.com
    |  and in
    |             the developers tab open developer portal
  img(src='../static/images/3-1.png')
  p You might have to login at this point.
  p
    | Once in the developer portal click on the
    span.code new application
    |  button
  img(src='../static/images/3-2.png')
  p Give your application a name
  img(src='../static/images/3-2-5.png' style='max-width: 400px;')
  p
    | That will take you to general information page about the
    | application, on the panel on the left size, click on bot.
  img(src='../static/images/3-3.png')
  p Now click on Add Bot and then yes
  .row
    .col-md
      img(src='../static/images/3-4.png')
    .col-md
      img(src='../static/images/3-5.png')
  p Scroll down to bot permissions and click on administrator
  img(src='../static/images/3-7.png' style='max-width: 500px;')
  p
    | Now open up discord either on your phone or desktop and create a new
    | server
  .row
    .col-md
      img(src='../static/images/3-8.png')
    .col-md
      img(src='../static/images/3-9.png')
  img(src='../static/images/3-10.png' style='max-width: 400px;')
  p
    | By now the application has a Client ID go to the developer portal
    | and copy the client ID
  img(src='../static/images/3-11.png' style='max-width: 700px;')
  p
    | Now go to
    a(href='https://discordapi.com/permissions.html') https://discordapi.com/permissions.html
    |             and if you are logged in check administrator
  img(src='../static/images/3-12.png')
  p
    | Enter the Client id you got from the application and fllow the linkk
    | on the end of the page.
  img(src='../static/images/3-13.png' style='max-width: 400px;')
  img(src='../static/images/3-14.png')
  p Select your server here.
  img(src='../static/images/3-15.png' style='max-width: 400px;')
  p Allow administrator before authorising
  img(src='../static/images/3-17.png' style='max-width: 400px;')
  p and if everything goes right.
  img(src='../static/images/3-18.png' style='max-width: 400px;')
  img(src='../static/images/3-19.png')
  p
    | Now you have a bot and a server on which you can talk to it, to use
    | it and teach it things and start it up. You will need a api key,
    | which you will get on the page where you created the bot.
  p
    | There are a lot of things the bot can be used for one of the
    | applications is demonstrated
    a(href='2.html') here
