extends include/_post_base.pug
block title
  title Linux Distributions that look and feel like MacOS

block append head
  meta(name="description", content="Despite the wonderfull number of beautiful linux distributions out there, the look and feel os MacOS is just wonderful.")
  meta(name="keywords", content="")

block heading
  |Linux Distributions that look and feel like MacOS
block date
  |10 July, 2020

block append body
  p
    |The Linux community makes beautiful Linux distributions,
    |for both the look and the feel, but Apple has some really
    |brilliant people who are paid to make their designs and
    |stuff, so they have undeniabely beautiful looks and the
    |feel is just great to say the least,
  p
    |No, I havent been sold to the corporate lords yet, my point is
    |they have beautiful things and we want them.
  p
    |So here are 3 linux distributions that look and feel a lot like
    |MacOS, soo much so that that it will be difficult to tell any
    |difference
  h2 Elementary OS
  p
    |They developers at elementary say that they aren't copying MacOS'
    |design but none-the-less, what they make feels a awfully lot
    |like macOS
  p
    |If you are looking for a light weight solution, this might work

  h2 BackLash Linux
  p
    |Backlash linux is relatively new, but does an amazing job of
    |imitating macOS, everything from icons to the center search thingy
  p
    |Another wonderfull thing about Backlash is its based on Ubuntu, so
    |all application/scripts that work on Ubuntu will (99% of the times)
    |work on BackLash Linux.
  h2 Gmac Linux
  p
    |This one is just ubuntu in macOS' clothes, like straight up no other
    |difference under the hood.
  p
    |It's good old GNOME heavily customised to look and feel like MacOS.
  p
    |Totally recommended if you use Ubuntu already, 100% of everything
    |you use on ubuntu will work on this.
