doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="UTF-8")
    block title
      title Deshmukh Blog
    meta(name="author", content="Abhishek Anil Deshmukh")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="../css/bootstrap-grid.min.css")
    link(rel="stylesheet", href="../css/style.css")
    //- [if lt IE 9]
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    //- [endif]
    link(rel="shortcut icon" href="")
    block headVendor
    block head
  body
    div.header
      div.container
        a(href="../index.html").material-icons.heading-home home
        br
        span.heading
          block heading
        br
        p.date
          block date
    div.container
      div.row
        div.col-sm-12.col-md-9.col-lg-9
          block body


        style.
          .bmc-button img{height: 34px !important;width: 35px !important;margin-bottom: 1px !important;box-shadow: none !important;border: none !important;vertical-align: middle !important;}.bmc-button{padding: 7px 15px 7px 10px !important;line-height: 35px !important;height:51px !important;text-decoration: none !important;display:inline-flex !important;color:#ffffff !important;background-color:#BD5FFF !important;border-radius: 5px !important;border: 1px solid transparent !important;padding: 7px 15px 7px 10px !important;font-size: 22px !important;letter-spacing: 0.6px !important;box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;margin: 0 auto !important;font-family:'Cookie', cursive !important;-webkit-box-sizing: border-box !important;box-sizing: border-box !important;}.bmc-button:hover, .bmc-button:active, .bmc-button:focus {-webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;text-decoration: none !important;box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;opacity: 0.85 !important;color:#ffffff !important;}
        link(href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet')
        a.bmc-button(target='_blank' href='https://www.buymeacoffee.com/dunce07')
          img(src='https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg' alt='Buy me a coffee')
          span(style='margin-left:5px;font-size:28px !important;') Buy me a coffee
    script(src="../js/latex.js")
    script(src="../js/github-cards.js")
    script(src="../js/main.js")
    footer
      | Made with love by
      |
      a(href="https://abhishek-deshmukh.ml", target="_blank") Abhishek Anil Deshmukh
