doctype html
html(lang="en")
  head
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(charset="UTF-8")
    block title
      title Deshmukh Blog
    meta(name="author", content="Abhishek Anil Deshmukh")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons", async)
    link(rel="stylesheet", href="../css/bootstrap-grid.min.css")
    link(rel="stylesheet", href="../css/style.css")
    //- [if lt IE 9]
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    //- script(src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js")
    //- [endif]
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-165302202-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-165302202-2');
    link(rel="shortcut icon" href="")
    block headVendor
    block head
  body
    div.header
      div.container-fluid
        a(href="../index.html")
          svg.bi.bi-house-fill(width='2em' height='2em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
            path(fill-rule='evenodd' d='M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z')
            path(fill-rule='evenodd' d='M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z')
        br
        h1.heading
          block heading
        br
        p.date
          block date
    div.container
      div.row
        div.col-sm-12.col-md-9.col-lg-9
          block body

        div.col-sm-12.col-md-3.col-lg-3
          link(href='https://fonts.googleapis.com/css?family=Cookie', rel='stylesheet', async)
          a.bmc-button(target='_blank' href='https://www.buymeacoffee.com/dunce07')
            img(src='https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg' alt='Buy me a coffee', async)
            span(style='margin-left:5px;font-size:28px !important;') Buy me a coffee
    script(src="../js/latex.js")
    script(src="../js/github-cards.js", async)
    script(src="../js/main.js")
    footer
      | Made with love by
      |
      a(href="https://abhishek-deshmukh.ml", target="_blank") Abhishek Anil Deshmukh
